<header>
  <div class="container">
    <div class="logo">
      <a href="/" class="logo"><img src="/assets/grasshopper.svg" alt="Grasshopper"></a>
    </div>
    <h1>Grasshopper: The America's most magical game</h1>
  </div>
</header>
<div class="home-video">
  <video ref="/assets/banner.mp4" autoPlay muted loop>
    <source src="/assets/banner.mp4" type="video/mp4"/>
  </video>
</div>