$textColor: #000;
$mutedColor: #6f6f6f;
$lightColor: #fff;

$secondaryLightColor: #cfe0f2;
$secondaryDarkColor: #056dd4;

$logoRedColor: #d0003a;
$logoBlueColor: #001e45;

@import 'components';
@import 'typography';
