<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>{{ title }}</title>
    <style>
      {{style | safe}}
    </style>
    <link rel="dns-prefetch" href="https://fonts.googleapis.com"/>

    <meta property="og:site_name" content="Grasshopper!"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Grasshopper!"/>
    <meta property="og:url" content="https://playgrasshopper.org/"/>
    <meta property="og:image" content="https://playgrasshopper.org/assets/logo.png"/>
    <meta property="og:description" content="The America's most magical game"/>
    <meta name="twitter:title" content="Grasshopper!"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:image" content="https://playgrasshopper.org/assets/logo.png"/>

  </head>
  <body>
    {{ content | safe }}
  </body>
</html>